@font-face {
  font-family: 'googleKarla';
  src: url('./Karla-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'googleKarla';
  background: url('./level.png');
}
